@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Secular+One&family=Titan+One&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corben&display=swap");

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.flex-grow {
  display: flex;
  flex-grow: 1;
}

/****************
 *   Navigation bar
 ****************/

.nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: none; */
  padding: 10px 30px;
  background-color: #3d0052;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
}

/* .navbar {
  background-color: rgba(0, 0, 0, 0) !important;
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-function: ease-in-out;
} */

/* .navbar-scrolled {
  background-color: #3d0052 !important;
  color: #ffffff !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
} */

.nav-tgl {
  display: none;
}
.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.navbar-brand:hover {
  color: white;
  opacity: 0.9;
}

.nav-list {
  display: flex;
  gap: 4px;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav-link {
  color: white;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 15px 0;
  position: relative;
  margin: 0 20px;
  font-size: 15px;
}

.nav-link:hover {
  color: yellow;
}
.active {
  color: yellow !important;
  border-bottom: 2px solid yellow;
}

/* .active {
  color: white;
  border-bottom: 2px solid white;
} */

.navbar-toggler {
  border: none !important;
  color: #fff !important;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.mobile-nav {
  display: none;
  width: 100%;
  padding: 16px;
  background-color: #3d0052;
  height: fit-content;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  z-index: 9999;
  transform: translateY(-120%);
  transition: transform ease-in-out 500ms;
}
.menuIcon {
  display: none;
}
@media only screen and (max-width: 800px) {
  .menuIcon {
    display: block;
  }
  .mobile-nav {
    display: block;
  }
}

.mobile-nav ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  list-style: none;
  padding: 0;
}

.mobile-nav li a {
  font-size: 21px;
}

.mobile-nav ul .active {
  color: yellow !important;
  border-bottom: none !important;
}

.mobile-nav .nav-link {
  padding: 10px 0;
}

.yellow-line {
  background-color: yellow;
  height: 2px;
  /* width: 100%; */
  margin: 25px;
  border-radius: 20px;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-btn {
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* margin-top: -10px; */
  border-radius: 8px;
  max-height: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  padding: 20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Raleway" sans-serif;
  font-size: 16px;
  font-weight: 500;
  right: 0px;
}

.missions-drop {
  right: 0px;
}
.dropdown-content a:hover {
  background-color: #3d0052;
  color: #fff;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 500px;
  opacity: 1;
  z-index: 9999;
}

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
}

.main-header {
  height: 100vh !important;
  background-image: url("../assets/images/heroo.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* z-index: 200; */
}

.hero {
  position: relative;
  z-index: 1000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-description {
  font-size: 22px;
  margin-top: 48px;
  display: flex;
  gap: 22px;
}

.header-text {
  font-size: 100px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.learn-more-btn {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
}

/* Footer */
footer {
  background-color: #3d0052 !important;
  /* padding: 50px; */
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  color: white !important;
  gap: 30px;
  font-family: Raleway !important;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer i {
  color: #ddd !important;
}

footer h6 {
  color: #fff !important;
  font-family: "Josefin Sans", sans-serif;
}
.footer-logo {
  font-weight: 700;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.footer-logo img {
  margin-left: -20px;
}

.footer-text {
  font-size: 15px;
  margin: 10px 0;
  font-family: "Josefin Sans", sans-serif;
}
.social-links {
  margin: 24px 0;
  font-size: 32px;
  display: flex;
  gap: 21px;
}

.section-header {
  /* font-family: 'Josefin Sans', sans-serif; */
  margin-bottom: 24px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.footer-2 ul {
  list-style: none;
  padding: 0;
}

.footer-2 li {
  margin: 16px 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Josefin Sans", sans-serif;
}

.footer-3 ul {
  list-style: none;
  padding: 0;
}

.footer-3 li {
  margin: 16px 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Josefin Sans", sans-serif;
}

.footer-4 ul {
  list-style: none;
  padding: 0;
}

.footer-4 li {
  margin: 16px 0;
  font-family: "Josefin Sans", sans-serif;
}

li:hover {
  color: red;
}

.fa-location-dot {
  color: red;
}
.fa-phone {
  color: red;
}
.fa-envelope {
  color: red;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
}

.no-hover:hover {
  color: white;
}

hr {
  width: 30px;
}

/* Contatct Us */

.contact {
  position: relative;
}

.contact-header {
  background-image: url("../assets/images/about.jpg  ");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  background-position: center;
  position: relative;
}

.ellu-p {
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  align-content: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  color: white;
}

.colored {
  font-size: 24px;
  margin: -3px;
  width: 350px;
  height: 50px;
  text-align: center;
  /* padding-top: 20px;
  background-color: darkslategrey;
  background-size: contain;
   */
}

.btn-warning {
  width: 300px;
  margin-top: 10px;
}

/* Features Section */
.features-section {
  width: 100%;
  padding: 50px;
  background-color: white;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  height: 60vh;
  align-items: center;
}

.card {
  padding: 32px;
  border-radius: 2px;
  color: #fff;
  border: none;
  height: 350px;
}

.card-1 {
  background-color: #ff0000;
}

.card-2 {
  background-color: #0000ff;
}

.card-3 {
  background-color: #9900cc;
}

.card h6 {
  font-family: "Corben", cursive;
  font-size: 36px;
  margin-bottom: 12px;
}

.card p {
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
}

.welcome-section {
  width: 90%;
  padding: 50px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  margin: 50px auto;
}

.welcome-section,
.welcome-text {
  flex: 1;
}

.welcome-text span {
  font-family: "Corben", cursive;
  font-weight: 500;
  font-size: 21px;
  color: black;
  opacity: 0.875;
}

.welcome-text h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 18px;
}

.welcome-text p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 18px;
  color: #9e9c9c;
}

.cta-section-give {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  align-items: center;
  padding: 50px;
}

.cta-section-give .description h6 {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 600;
}

.cta-section-give .description p {
  color: #635353;
  opacity: 0.875;
  font-family: Raleway;
  font-size: 14px;
}

.live-video-section {
  background-image: url("../assets/images//crd-bg-video.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin-top: 100px;
}

.live-description {
  padding: 25px;
  position: relative !important;
}

.live-video-section span {
  font-size: 16px;
  color: #d04a48;
  font-family: "Josefin Sans", sans-serif;
}

.live-video-section h6 {
  font-size: 50px;
  color: #1a1a1a;
  font-family: "Corben", cursive;
  font-weight: 700;
}

.live-video-section p {
  font-size: 18px;
  color: #767676;
  font-family: "Raleway";
  font-weight: 500;
}

.play-icon {
  width: 75px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: #d04a48;
  color: #fff;
  font-size: 32px;
}

.fa-play {
  z-index: 2;
}

.join-us-live {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #d04a48;
  color: #fff;
  padding: 10px 30px;
  border: none;
  margin-top: 30px;
  width: fit-content;
}

/* SWIPER */
.our-services {
  font-weight: 700;
  font-size: 80px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  background: -webkit-linear-gradient(180deg, red, blue, #9900cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services {
  padding: 50px 0;
  display: flex;
  align-items: center;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--swiper-theme-color);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--swiper-theme-color);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.custom-button {
  background: linear-gradient(
    135deg,
    /* rgba(2, 0, 36, 1) 0%, */ rgba(109, 9, 121, 1) 35%,
    rgba(203, 42, 42, 1) 75%
  );
  font-family: Poppins;
  font-weight: 500;
  font-size: 16px;
  padding: 10px 30px;
  border: none !important;
}

/* .crossfade > figure {
    animation: imageAnimation 30s linear infinite 0s;
    backface-visibility: hidden;
    background-size: cover;
    background-position: center center;
    color: transparent;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
  }
  
  .crossfade > figure:nth-child(1) {
    background-image: url('../assets/images/bgcolor.jpg');
  }
  .crossfade > figure:nth-child(2) {
    animation-delay: 6s;
    background-image: url('../assets/images/year-banner.jpeg');
  }
  .crossfade > figure:nth-child(3) {
    animation-delay: 12s;
    background-image: url('../assets/images/bgcolor.jpg');
  }
  .crossfade > figure:nth-child(4) {
    animation-delay: 18s;
    background-image: url('../img/004.jpg');
  }
  .crossfade > figure:nth-child(5) {
    animation-delay: 24s;
    background-image: url('../img/005.jpg');
  }
  
  @keyframes imageAnimation {
    0% {
      animation-timing-function: ease-in;
      opacity: 0;
    }
    8% {
      animation-timing-function: ease-out;
      opacity: 1;
    }
    17% {
      opacity: 1
    }
    25% {
      opacity: 0
    }
    100% {
      opacity: 0
    }
  }
   */

.text-2023 {
  font-size: 200px;
  color: orange;
  font-family: "Corben", cursive;
  font-weight: 700;
}

.rhema {
  color: white !important;
  font-size: 100px;
  font-family: "Titan One", cursive;
}

.image-overlay {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
  border-radius: 20px;
}

.badge-primary {
  background-color: #9900cc;
}

.head {
  max-width: 100%;
  color: #101318;
  font-size: 4vw;
  font-weight: 700;
  line-height: 1.2em;
}

.carousel-item > div {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .carousel-item > div > .col-md-4:nth-child(n + 4) {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .carousel-item > div > .col-md-4:nth-child(n + 3) {
    display: none;
  }
}
.carousel-control-prev,
.carousel-control-next {
  opacity: 0;
  transition: opacity 0.9s ease-in-out;
}

#carouselExample:hover .carousel-control-prev,
#carouselExample:hover .carousel-control-next {
  opacity: 1;
}
.hover-effect {
  transition: all 2s ease-in-out;
  height: auto;
  max-width: 100%;
}
.hover-effect:hover {
  transform: scale(1.1);
}
.card-title {
  font-weight: bold;
  margin-bottom: 13px;
  margin-left: 11px;
}
.card {
  border: 0;
  background-color: #ffffff;
}
.card,
.img-container {
  overflow: hidden;
}
.desc {
  margin-left: 11px;
  font-weight: bold;
  margin-bottom: 22px;
}

.si {
  width: 100%;
  height: 16.54em;
  padding: 0%;
}
.col-5 {
  padding-bottom: -100px;
}
.col-7 {
  margin-top: -7px;
}
.pill {
  background-color: #8a5bf8;
  font-size: 13px;
  font-weight: bold;
  width: 56.7px;
  padding-bottom: 3px;
  padding-top: 1px;
}
.pill2 {
  width: 56.7px;
  padding-bottom: 5px;
  font-weight: bold;
}
.ttt1,
.ttt2 {
  margin-left: -115px;
}
.ttt1 {
  margin-top: 5px;
}
.ttt2 {
  font-size: 14px;
  font-weight: bold;
}

/* calender */
.accordion-button:focus {
  z-index: 3;
  border-color: none;
  outline: 0;
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: initial;
  background-color: initial;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
