@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corben&display=swap");

body {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none !important;
}

.flex-grow{
  display: flex;
  flex-grow: 1;
}

/* Navbar */
.nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px 30px;
  background-color: #3d0052;
  color: white;
}

.nav-tgl {
  display: none;

}
.navbar-brand {
  font-weight: 700;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.navbar-brand:hover {
  color: white;
  opacity: 0.9;
}

.nav-list {
  display: flex;
  gap: 4px;
  align-items: center;
  list-style: none;
  margin: 0;
}

.nav-link {
  color: white;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 15px 0;
  position: relative;
  margin: 0 20px;
  font-size: 15px;
}

.nav-link:hover {
  color: yellow;
}

 /* .active {
  color: white;
  border-bottom: 2px solid white;
} */

/* .menu-icon {
  display: none;
} */


.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: yellow;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-btn {
  display: flex;
  gap: 6px;
  align-items: center;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  /* margin-top: -10px; */
  border-radius: 8px;
  max-height: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  padding:20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Ubuntu";
  font-size: 16px;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #3d0052;
  color: #fff;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
  max-height: 500px;
  opacity: 1;
  z-index: 9999;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

header {
  background-image: url("../assets/images/bgcolor.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: bottom;
  position: relative;
}
.overlay {
  background: rgba(0, 0, 0, 0.67);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}

.hero {
  position: relative;
  z-index: 1000;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-description {
  font-size: 22px;
  margin-top: 48px;
  display: flex;
  gap: 22px;
}

.header-text {
  font-size: 75px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.learn-more-btn {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  display: flex;
  gap: 16px;
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #3d0052 !important;
  /* padding: 50px; */
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  color: white !important;
  gap: 30px;
  font-family: Raleway !important;
}

footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap:12px;
}

footer i {
  color: #ddd !important;
}

footer h6 {
  color: #fff !important;
  font-family: "Josefin Sans", sans-serif;
}
.footer-logo {
  font-weight: 700;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}

.footer-logo img {
  margin-left: -20px;
}

.footer-text {
  font-size: 15px;
  margin: 10px 0;
  font-family: "Josefin Sans", sans-serif;
}
.social-links {
  margin: 24px 0;
  font-size: 32px;
  display: flex;
  gap: 21px;
}

.section-header {
  /* font-family: 'Josefin Sans', sans-serif; */
  margin-bottom: 24px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.footer-2 ul {
  list-style: none;
  padding: 0;
}

.footer-2 li {
  margin: 16px 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Josefin Sans", sans-serif;
}


.footer-3 ul {
  list-style: none;
  padding: 0;
}

.footer-3 li {
  margin: 16px 0;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: "Josefin Sans", sans-serif;
}



.footer-4 ul{
  list-style: none;
  padding: 0;
}

.footer-4 li{
  margin: 16px 0;
  font-family: "Josefin Sans", sans-serif;
  
}

li:hover{
  color: red;
}

.fa-location-dot{
  color: red;
}
.fa-phone{
  color: red;
}
.fa-envelope{
  color: red;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: white;
}

.no-hover:hover{
  color:white;
}

hr{
  width:30px;
}


/* Contatct Us */

.contact{
  background-image: url("../assets/images/bgcolor.jpg");
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  background-position: bottom;
  position: relative;
}

.ellu-p{
  position: relative;
  padding-top: 100px;
  padding-bottom: 50px;
  text-align: center;
  align-content: center;
  font-size: 50px;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.colored{
  font-size: 24px;
  margin: -3px;
  width: 350px;
  height: 50px;  
  text-align: center;
  /* padding-top: 20px;
  background-color: darkslategrey;
  background-size: contain;
   */

}

.btn-warning{
  width: 300px;
  margin-top: 10px;
}

.abeg{
  background-color: #3d0052;
  padding: 53px;
  color: white;
  gap: 30px;
}
/* Features Section */
.features-section {
  width: 100%;
  padding: 50px;
  background-color: white;
}

.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  height: 60vh;
  align-items: center;
}

.card {
  padding: 32px;
  border-radius: 2px;
  color: #fff;
  border: none;
  height: 350px;
}

.card-1 {
  background-color: #ff0000;
}

.card-2 {
  background-color: #0000ff;
}

.card-3 {
  background-color: #9900cc;
}

.card h6 {
  font-family: "Corben", cursive;
  font-size: 36px;
  margin-bottom: 12px;
}

.card p {
  font-family: "Ubuntu", sans-serif;
  font-size: 21px;
  font-weight: 500;
  margin-bottom: 20px;
}

.welcome-section {
  width: 90%;
  padding: 50px;
  background-color: white;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.welcome-section,
.welcome-text {
  flex: 1;
}

.welcome-text span {
  font-family: "Corben", cursive;
  font-weight: 500;
  font-size: 21px;
  color: black;
  opacity: 0.875;
}

.welcome-text h6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 18px;
}

.welcome-text p {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 18px;
  color: #9e9c9c;
}


.cta-section-give {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px;
  height: 60vh;
  align-items: center;
  padding: 50px;
}

.cta-section-give .description h6 {
 color: #000;
 font-family: "Corben", cursive;
 font-size: 28px;
}

.cta-section-give .description p {
  color: #000;
  opacity: 0.875;
  font-family: Raleway;
  font-size: 16px;
 }


 .live-video-section {
  background-image: url('../assets/images//crd-bg-video.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  margin-top: 100px;
 }

 .live-description {
  padding: 25px;
  position: relative !important;

 }

 .live-video-section span {
font-size: 16px;
color:#D04A48;
font-family: "Josefin Sans", sans-serif;
}

.live-video-section h6 {
  font-size: 50px;
  color:#1A1A1A;
  font-family: "Corben", cursive;
  font-weight: 700;
  }

  .live-video-section p {
    font-size: 18px;
    color:#767676   ;
    font-family: "Raleway";
    font-weight: 500;
    }

    .play-icon {
      width: 75px;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      background-color: #D04A48;
      color: #fff;
      font-size: 32px;

    }

    .fa-play{
      z-index: 2;
    }

    .join-us-live {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background-color: #D04A48;
      color: #fff;
      padding:10px 30px;
      border: none;
      margin-top: 30px;
      width: fit-content;
    }

    /* SWIPER */
    .our-services {
      font-weight: 700;
      font-size: 80px;
      font-family: "Josefin Sans", sans-serif;
      display: flex;
      align-items: center;
      gap: 20px;
      background: -webkit-linear-gradient(180deg,red, blue,#9900cc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .services{
      height: 60vh;
      display: flex;
      align-items: center;
    }
    .swiper {
      width: 100%;
    }

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 18px;
      font-size: 22px;
      font-weight: bold;
      color: #fff;
    }

    .autoplay-progress {
      position: absolute;
      right: 16px;
      bottom: 16px;
      z-index: 10;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: var(--swiper-theme-color);
    }

    .autoplay-progress svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }


    