.bodyIndex{margin: 0; background-color: #46418b;}
.bodyDashboard{margin: 0; background-color: #f0f5ff;}
.authenDiv{margin-top: 150px;}
.userAuthTitle{text-align: left; font-size: 20px; color: aliceblue; background-color: #070250; padding: 15px;}
.userAuthBody{background-color: aliceblue; padding-top: 30px; font-size: 15px;}
.userAuthInput{padding-top: 15px;}
.userAuthText{
    font-size: 15px; text-align: right; padding-top: 5px; 
    font-family:'Signika Negative', sans-serif; color: #070250;
    font-weight: bold;
} 
.userAuthRem{
    font-size: 14px; padding-top: 0px;
    font-family:'Signika Negative', sans-serif; color: #070250;
    font-style: normal;
} 
.userAuthForget{
    font-size: 14px; padding-top: 0px;
    font-family:'Signika Negative', sans-serif; color: #070250;
    font-style: normal;
    text-decoration: none;
    font-weight: bold;
}
.userAuthForget:hover{
    font-size: 14px; padding-top: 0px;
    font-family:'Signika Negative', sans-serif; color: #070250;
    font-style: normal;
    font-weight:normal;
    text-decoration: none;
}
.userAuthFooter{
    color: aliceblue; padding: 15px; text-align: center;
    font-size: 18px; font-family:'Signika Negative', sans-serif;
    opacity: 0.3;
}
.userAuthFooter:hover{
    color: aliceblue; padding: 15px; text-align: center;
    font-size: 18px; font-family:'Signika Negative', sans-serif;
    opacity: 0.6;
}
.insertSuccess{
    color: #0ebe52; padding: 0px; text-align: center;
    font-size: 14px; font-family:'Signika Negative', sans-serif; text-align: center;
    margin-top: 15px;
}
.insertSuccessa{
    text-decoration: none;
}
.insertSuccessa:hover{
    text-decoration: underline;
}
.userAuthFailed{
    color: #e42626; padding: 0px; text-align: center;
    font-size: 14px; font-family:'Signika Negative', sans-serif; text-align: center;
    margin-top: 15px;
}
.dashboardMenu{background-color: #46418b; min-height: 1000px; box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;}
.logoText1{text-align: center; color: aliceblue; margin-top:25px; 
    font-family: 'Gloria Hallelujah', cursive; font-size: 30px;
    line-height:20px;}
.logoText2{
    color: aliceblue; text-align: center;
    font-family: 'Righteous', cursive;
    font-size:18px; 
    line-height: 25px; margin-top:5px;
}

.menulist {
    padding: 0px;
    z-index: 1;
    margin-top: 35px;
    display: block;
    font-size: 16px;
    font-family: 'Macondo', cursive;
    list-style: none;
}
.menulist li a{
    background-color: #46418b;
    margin-top: 5px;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: aliceblue solid 1px;
    color: aliceblue;
}
.menulist li a:hover{
    background-color:aliceblue;
    text-decoration: none;
    margin-top: 5px;
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: #46418b solid 1px;
    color: #46418b;
}
.menulist li a i{
    display: block;
    float: left;
    padding-right: 15px;
}
/*submenu*/
.collapsible {
    background-color:#46418b;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    color:aliceblue;
    cursor: pointer;
    padding: 6px;
    width: 100%;
    text-align: left;
    outline: none;
    margin-top: 8px;
    font-size: 14px;
    font-family: 'Macondo', cursive;
  }
  .noncollapsible{
    background-color:#46418b;
    border-style: solid;
    border-color: aliceblue;
    border-width: 1px;
    color:aliceblue;
    cursor: pointer;
    padding: 6px;
    width: 100%;
    text-align: left;
    outline: none;
    margin-top: 8px;
    font-size: 14px;
    font-family: 'Macondo', cursive;
  }
  .active, .noncollapsible:hover {
    background-color: aliceblue;
    color:#46418b;
  }
  .active, .collapsible:hover {
    background-color: aliceblue;
    color:#46418b;
  }
  .collapsible:after {
    content: '\002B';
    color:aliceblue;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
    color:#46418b;
  }
  .content {
    padding: 0px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  .submenubut{
      width: 100%;
      padding: 7px;
      margin: 0px;
      border: none;
      color: #46418b;
      font-size: 14px;
    font-family: 'Macondo', cursive;
    text-align: left;
  }
.margbott{
    margin-bottom: 45px;
}
  .submenubut:hover{
    background-color: #46418b;
    color: aliceblue;
    border: solid 1px aliceblue;
}
.infodiv{
    background-color: #46418b;
    margin: 10px;
    padding: 10px;
    color: aliceblue;
}
.dashboardbody{
    margin: 10px;
    padding: 0px;
    margin-top: 35px;
}
.usermail{
    text-align: right;
    font-family: 'Original Surfer', cursive;
    font-size: 14px;
}
.ispace{
    margin-right: 8px;
}
.dashtext{
    text-align: left;
    font-family: 'Original Surfer', cursive;
    font-size: 14px;
}
.rowShadow{
    box-shadow: 4px 3px 8px 1px #969696;
  	-webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.div1{
    margin-top: 20px;
    border: #969696 1px solid;
    padding-left: 15px;
    padding-right: 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.dvrw1{
    background-color:#4e4b97;
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.divformheading{
    color:#f0f5ff;
    font-size: 16px;
    font-family: 'Original Surfer', cursive;
}
.formtext{
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color:#070250;
    font-weight: bold;
}
.formrow{
    background-color:#fff;
}
.dashboardcard{
    width: 23rem;
    border: 1px #4e4b97;
    border-left: #4e4b97 solid 25px;
    border-style: outset;
    padding: 5px;
    background-color: #fff;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
}
.dashboardcardtitle1{
    font-family: 'Macondo', cursive;
    font-size: 20px;
    color:#8f80c9
}

.dashboardmenudiv{
    
    position: relative;
    display: inline-block;
}
.dashboardmenudiv i{
    width: 18px;
    height: 18px;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 2px;
    cursor: pointer;
}
.dashboardmenudiv i:hover{
    background-color: aliceblue;
    border-radius: 50%;
    color:#46418b;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: aliceblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -130px;
    margin-top: 5px;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color:#46418b;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
.butt1{
      
      color:aliceblue;
      background-color: #46418b;
      margin: 0;
      position: relative;
      left: 25%;
      font-size: 15px;
      border: none;
      border-radius: 3px;
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      width: 50%;
      min-height: 40px;
      margin-bottom: 15px;
  }
.butt1:hover{
    opacity: 0.7;
}
.butt2{
      
    color:aliceblue;
    background-color: #46418b;
    margin-left: 10px;
    position: relative;
    font-size: 12px;
    border: none;
    border-radius: 3px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    width: 80px;
    min-height: 30px;
}
.butt2:hover{
  opacity: 0.7;
}

.tableText{
    font-family: 'Roboto flex', sans-serif;
}
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color:#46418b; color: aliceblue;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.mymodalhead{
    background-color: #46418b;
    width: 600px;
}
.mymodaltitle{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Macondo', cursive;
}
.mymodalbody{
    background-color: aliceblue;
    font-size: 14px;
}
.mymodalclose{
    color: aliceblue;
}
.mymodal{
    padding: 15px;
}
.mymodalrow{
    font-family: 'Poppins', sans-serif;
    padding: 7px;
    background-color: #fff;
    border-bottom: solid aliceblue 2px;
}
.mymodalrow1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    border-bottom: solid 1px #46418b;
    padding: 7px;
    color: aliceblue;
    background-color: #46418b;
    font-weight: bold;
}
.mymodaltitle1{
    font-weight: bold;
    color:#000
}
.susmodaltext{
    color:#46418b;
    font-size: 25px;
    text-align: center;
}
.susmodalrow{
    margin-bottom: 15px;
    text-align: center;
}
.marbot10{margin-bottom: 10px;}
.editProfileHeader{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #46418b;
    padding: 10px;
    color:#fff
}
.rowBg{
    background-color: #fff;
}
.rowBg:hover{
    background-color:aliceblue;
    border-left: solid 3px #46418b;
    border-right: solid 3px #46418b;
}
.selectWidth{
    width:102px;
    float: left;
    margin-right: 9px;
}
.selectWidth1{
    width:102px;
    float: right;
}
.gtlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    height: auto;
    margin-top: 25px;
}
      /*
   font-family: 'Gloria Hallelujah', cursive;
font-family: 'Macondo', cursive;
font-family: 'Original Surfer', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Flex', sans-serif;
font-family: 'Signika Negative', sans-serif;
*/